/*Общие свойсва*/ 
body{
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #2d3032;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	margin: 0;
	padding: 0;
}
div, input, textarea{
	box-sizing: border-box;
}
p{
	margin: 0;
	line-height: 1.5em;
}
ul, li{
	box-sizing: border-box;
	display: block;
	padding: 0;
	margin: 0;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.navigation .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*1-контейнер*/ 
.navigation{
	padding: 32px 0;
	background: #455991;
	color: #fff;
}
.navigation a{
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.logo, .tel{
	font-size: 18px;
	text-transform: uppercase;
}
.logo{
	margin-right: 54px;
}
.menu{
	display: flex;
}
.menu li{
	margin-left: 27px;
	border-bottom: 2px solid #fff;
}
/*2-контейнер*/ 
/*1-блок*/
.title{
	padding: 74px 0 36px 0;
}
.title h1{
	font-size: 23px;
	padding-bottom: 17px;
	text-transform: uppercase;
}
.title p{
	width: 340px;
}
.intro{
	font-size: 14px;
	color: #828697;
}
/*2-блок*/
.cards{
	padding-bottom:48px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.cards h3{
	font-size: 17px;
}
.cards p{
	margin-top: 17px;
}
.card{
	width: 307px;
	padding: 28px;
	border: solid 1px #d6d6d6;
	
}
.card2{
	box-shadow: 0 0 18px rgba(0,0,0,0.35);
	border-radius: 15px;
}
.card a{
	color: #22a2ec;
	margin-top: 10px;
	font-weight: bold;
	display: block;
	text-decoration: none;
}
/*3-контейнер*/ 
/*1-блок*/
.forma .container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.forma h2{
	font-size: 19px;
	text-transform: uppercase;
}
.form{
	margin-top: 42px;
}
.form input, textarea{
	font-family: Arial, Tahoma, sans-serif;
	letter-spacing: 0.02em;
	display: block;
	border: 1px solid #d6d6d6;
	font-size: 15px;
	width: 238px;
	height: 43px;
	padding: 15px 18px;
	margin-bottom: 13px;
	resize:none;
}
.form textarea{
	width: 357px;
	height: 120px;
}
.form button:hover{
	background: #f9d907;
	transition: 0.5s;
}
.form input:focus, textarea:focus{
	outline: none;
	border: 1px solid #ebce0d;
	color: #ebce0d;
}
.form input:focus::placeholder, textarea:focus::placeholder{
	color: #ebce0d;
	opacity: 1;
}
.send{
	font-family: Arial, Tahoma, sans-serif;
	letter-spacing: 0.02em;
	background: #ebce0d;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	width: 165px;
	height: 43px;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 15px;
	margin: 13px 0 19px 0;
}
.title2 p{
	font-size: 12px;
	color: #84878b;
}
/*2-блок*/
.card4{
	width: 546px;
	color: #c8dced;;
	background: #184c6b;
	border-radius: 10px;
	padding: 43px;
	font-size: 14px;
}
.card4 h3{
	font-size: 17px;
	text-transform: uppercase;
}
.content{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.content div{
	width: 214px;
}
.content img{
	margin-top: 20px;
}
/*4-контейнер*/ 
.footer{
	background: #455991;
	color: #fff;
	font-size: 13px;
	margin-top: 70px;
	letter-spacing: 0.02em;
}
.details{
	width: 960px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 0;
}
.details a{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #fff;
	letter-spacing: 0em;
}
.text{
	background: #fff;
	color: #455991;
	font-size: 12px;
	padding: 12px 24px;
	border-radius: 3px;
	letter-spacing: 0em;
}
.element1{
	border-radius: 3px;
}
.element2{
	border-radius: 30px
}